/* Base Application Styles */
@font-face {
  font-family: "icons-turn-arrow";
  src:url('../fonts/icons/turn-arrow.eot') format("embedded-opentype"), /* IE9*/
  url('../fonts/icons/turn-arrow.woff') format('woff'), /* chrome、firefox */
  url('../fonts/icons/turn-arrow.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/icons/turn-arrow.svg') format('svg'); /* iOS 4.1- */
}

@mixin basic($w:100%,$h:100%,$mtb:0,$mlr:0,$ptb:0,$plr:0){
  width: $w;
  height: $h;
  margin: $mtb $mlr;
  padding: $ptb $plr;
}

@mixin position-absolute($t:auto,$r:auto,$b:auto,$l:auto,$z-i:99){
  position: absolute;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
  z-index: $z-i;
}

html,body{
  background-color: #222;
  @include basic();
}

#app{
  @include basic();
}

/* ----stage start---- */
.stage{
  @include basic();
  background-color: #eee;
  position: relative;
  overflow: hidden;
}
.img-container{
  @include basic();
}
.controller-container{
  @include basic($h:auto);
  @include position-absolute($b:20px);
  text-align: center;
}
/* ----stage end---- */

/* ----imgFigure start----*/
.img-figure{
  @include basic(320px,360px,0,0,40px,40px);
  @include position-absolute();
  box-sizing: border-box;
  background-color: #fff;
  transform-origin: center center 0;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out 0.2s,left 0.6s ease-in-out 0.2s,top 0.6s ease-in-out 0.2s;
  cursor: pointer;
  @at-root {
    .img-title{
      text-align: center;
      margin: 20px 0 0 0;
      color: #a2a7a0;
      font-size: 16px;
    }
  }
  &.img-figure-toInverse{
    transform: rotateY(180deg);
  }
  .img-figure-back{
    @include basic(320px,360px,0,0,40px,40px);
    @include position-absolute($l:0,$t:0);
    box-sizing: border-box;
    background-color: #fff;
    backface-visibility:hidden;
    text-align: center;
    color: #666;
    transform: rotateY(180deg);
  }
}
/* ----imgFigure end---- */

/* ----controllerUnit start---- */
.controller-unit{
  @include basic($w:30px,$h:30px,$mlr:5px);
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background-color: #aaa;
  border-radius: 50%;
  transform: scale(0.5);
  transition: transform .6s ease-in-out .2s,backgroud-color  .6s ease-in-out .2s;
  cursor: pointer;
  &.controller-unit-toCenter{
    transform: scale(1);
    background-color: #888;
    &::after{
      font-family: "icons-turn-arrow";
      content:"\e600";
      line-height: 30px;
      color: #fff;
    }
  }
  &.controller-unit-toInverse{
    transform: rotateY(180deg);
  }

}
/* ----controllerUnit end---- */
